button{
	font-size: 16px;
	background-color: #68A9D1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;

}

.box {
	border:1px solid black; 
	float:left;
	vertical-align:top;
	box-sizing: border-box;
	padding:auto;
	margin:auto;
	background-color: "rgb(0,0,0,0)";
}


#container{
	margin: auto ;
   	width: 480px;
   	height: 480px;
    text-align: center;  
}

.row{
	height:100%
}

h2{
	font-family: Arial;
	color: #68A9D1;
}

#nav{
	display: inline-block;
}