.active{
	background-color: blue;
}

.box {
	border:1px solid black; 
	float:left;
	vertical-align:top;
	box-sizing: border-box;
	padding:auto;
	margin:auto;
}



#container{
	margin: auto ;
   	width: 480px;
   	height: 480px;
    text-align: center;  
}

.row{
	height:100%
}

h2{
	font-family: Arial;
	color: #6A86D1;
}

#nav{
	display: inline-block;
}